@supports (animation-timeline: view()) {
    @keyframes colorize-dot {
        0%,
        100% {
            transform: translateY(25%);
            width: 2.2vw;
            height: 2.2vw;
            transform: translateY(25%);
            background-color: #6a7cf1;
        }
    }

    [data-component="carousel"] {
        --carousel: 0;
        timeline-scope: --carousel;
        -webkit-timeline-scope: --carousel;

        .entries {
            scroll-timeline: --carousel x;
            -webkit-scroll-timeline: --carousel x;
        }

        .markers a {
            animation: colorize-dot linear;
            animation-timeline: --carousel;
            animation-range: calc((var(--i) - 1) * 30%) calc(var(--i) * 30% + 1px);
            -webkit-animation-timeline: --carousel;
            -webkit-animation-range: calc((var(--i) - 1) * 30%) calc(var(--i) * 30% + 1px);
        }
    }
}

[data-component="carousel"] {
    position: relative;
    width: 100vmin;
    margin-left: 35vw;
}

.entries {
    display: flex;
    flex-direction: row;
    width: 40vw;
    height: 100%;
    margin-top: 5.3vw;
    overflow-y: hidden;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    -webkit-scrollbar-width: none;
    scroll-behavior: smooth;
    transition: transform 0.5s ease-in-out;
}

.entries::-webkit-scrollbar {
    display: none;
}

.l {
    scroll-snap-align: center;
    flex: 100% 1 0;
    display: flex;
}

a {
    display: flex;
    align-self: stretch;
}

.slide {
    display: block;
    object-fit: cover;
}

.markers {
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 7.5vw;
    bottom: -5.9vw;
    pointer-events: none;
}

.markers li {
    margin-left: -1.1vw;
}

.markers a {
    display: flex;
    width: 2vw;
    height: 2vw;
    border-radius: 20%;
    border: 1px solid #000;
    cursor: pointer;
    margin-left: 2vw;
    pointer-events: auto;
}

.markers li:nth-child(1) {
    --i: 1;
}
.markers li:nth-child(2) {
    --i: 2;
}
.markers li:nth-child(3) {
    --i: 3;
}
.markers li:nth-child(4) {
    --i: 4;
}

